name: Build and Release Addon

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Release Zip
        run: |
          # Zip the rendercue folder
          # -r: recursive
          # The zip file will contain the 'rendercue' folder at the root
          zip -r RenderCue-${{ github.ref_name }}.zip rendercue

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: RenderCue-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
